<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @author.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @author.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @author.email %>
</p>

<p>
  <strong>Author's Articles:</strong>
</p>
<tbody>
    <% @author.articles.each do |article| %>
      <tr>
        <strong> Title </strong><td><%= article.name %></td>
        <strong> Body </strong><td><%= article.body %></td>
    <% end %>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
